/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.header1 {
  background-color: #f6623e;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.header1 .mycontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header1 .mycontainer h1 {
  font-family: "Jost", sans-serif;
  color: #454545;
}

.header2 {
  background-color: #ffffff;
}
.header2 .mycontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  border: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header2 .mycontainer .mybar {
  display: none;
}
@media (max-width: 820px) {
  .header2 .mycontainer .mybar {
    display: inline-block;
    margin-right: 200px;
  }
}
.header2 .mycontainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
}
@media (max-width: 820px) {
  .header2 .mycontainer ul {
    display: none;
  }
}
.header2 .mycontainer ul a {
  font-family: "Jost", sans-serif;
  color: #454545;
}

.s-1 {
  height: 80px;
}

.s-2 {
  margin-top: 650px;
}
.s-2 h1 {
  text-align: center;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  margin-bottom: 18px;
}
.s-2 .mycontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  max-width: 1380px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .s-2 .mycontainer {
    display: inline-block;
  }
}
.s-2 .mycontainer .card1 {
  max-width: 400px;
  width: 100%;
  height: 400px;
  background-color: #fff8f6;
  border-radius: 40px;
  -webkit-box-shadow: #fff8f6;
          box-shadow: #fff8f6;
}
.s-2 .mycontainer p {
  max-width: 300px;
  width: 100%;
  text-align: center;
  margin: 40px;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}
@media (max-width: 290px) {
  .s-2 .mycontainer p {
    max-width: 200px;
  }
}
.s-2 .card2 {
  max-width: 400px;
  width: 100%;
  height: 400px;
  background-color: #fff8f6;
  border-radius: 40px;
}
@media (max-width: 1100px) {
  .s-2 .card2 {
    margin-top: 20px;
  }
}
.s-2 .card2 p {
  width: 370px;
  margin: 20px;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}
@media (max-width: 1100px) {
  .s-2 .card3 {
    margin-top: 20px;
  }
}

.s-3 {
  height: 80px;
}
.s-3 h1 {
  text-align: center;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  margin-top: 20px;
}
.s-3 .mycontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  margin-top: 250px;
}
footer .mycontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  background-image: url("../images/foot.png");
  background-repeat: no-repeat;
  background-color: #fff8f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .mycontainer .mail {
  margin-left: 50px;
}
footer .mycontainer .mail h1 {
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  color: #f6623e;
  margin-top: 20px;
}
footer .mycontainer .mis h1 {
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  color: #f6623e;
  margin-top: 20px;
}
footer .mycontainer .icon {
  margin-right: 30px;
}

.mcontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mcontainer .nh1 {
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-size: 20px;
  color: black;
  width: 300px;
  margin-top: 10px;
}

.uscontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
}
.uscontainer .torpedo {
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-size: 20px;
}
.uscontainer .th1 {
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  color: black;
  margin-top: 20px;
}
.uscontainer .logtor {
  -webkit-transform: translate(350px, 5px);
      -ms-transform: translate(350px, 5px);
          transform: translate(350px, 5px);
}
@media (max-width: 780px) {
  .uscontainer .logtor {
    -webkit-transform: translate(140px, 5px);
        -ms-transform: translate(140px, 5px);
            transform: translate(140px, 5px);
  }
}
@media (max-width: 500px) {
  .uscontainer .logtor {
    -webkit-transform: translate(20px, 5px);
        -ms-transform: translate(20px, 5px);
            transform: translate(20px, 5px);
  }
}

.stcontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

section .tconteiner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  margin-top: 30px;
}
section .tconteiner .img1 {
  -webkit-transform: translate(170%, -5%);
      -ms-transform: translate(170%, -5%);
          transform: translate(170%, -5%);
}
@media (max-width: 540px) {
  section .tconteiner .img1 {
    -webkit-transform: translate(100%, -5%);
        -ms-transform: translate(100%, -5%);
            transform: translate(100%, -5%);
  }
}
@media (max-width: 412px) {
  section .tconteiner .img1 {
    -webkit-transform: translate(40%, -5%);
        -ms-transform: translate(40%, -5%);
            transform: translate(40%, -5%);
  }
}
section .tconteiner .img2 {
  -webkit-transform: translate(15%, -5%);
      -ms-transform: translate(15%, -5%);
          transform: translate(15%, -5%);
  margin-top: 30px;
  max-width: 900px;
  width: 100%;
  border: 10px solid white;
}
section .tconteiner .img3 {
  -webkit-transform: translate(170%, -5%);
      -ms-transform: translate(170%, -5%);
          transform: translate(170%, -5%);
  margin-top: 50px;
}
@media (max-width: 540px) {
  section .tconteiner .img3 {
    -webkit-transform: translate(100%, -5%);
        -ms-transform: translate(100%, -5%);
            transform: translate(100%, -5%);
  }
}
@media (max-width: 412px) {
  section .tconteiner .img3 {
    -webkit-transform: translate(80%, -5%);
        -ms-transform: translate(80%, -5%);
            transform: translate(80%, -5%);
  }
}
section .tconteiner .img4 {
  -webkit-transform: translate(15%, -5%);
      -ms-transform: translate(15%, -5%);
          transform: translate(15%, -5%);
  max-width: 900px;
  width: 100%;
  border: 10px solid white;
  margin-top: 50px;
}
section .tconteiner .img5 {
  -webkit-transform: translate(170%, -5%);
      -ms-transform: translate(170%, -5%);
          transform: translate(170%, -5%);
  margin-top: 50px;
}
@media (max-width: 540px) {
  section .tconteiner .img5 {
    -webkit-transform: translate(100%, -5%);
        -ms-transform: translate(100%, -5%);
            transform: translate(100%, -5%);
  }
}
@media (max-width: 412px) {
  section .tconteiner .img5 {
    -webkit-transform: translate(80%, -5%);
        -ms-transform: translate(80%, -5%);
            transform: translate(80%, -5%);
  }
}
section .tconteiner .th1 {
  font-size: 80px;
  color: black;
  -webkit-transform: translate(43%, -5%);
      -ms-transform: translate(43%, -5%);
          transform: translate(43%, -5%);
}
@media (max-width: 912px) {
  section .tconteiner .th1 {
    -webkit-transform: translate(50%, -5%);
        -ms-transform: translate(50%, -5%);
            transform: translate(50%, -5%);
  }
}
@media (max-width: 820px) {
  section .tconteiner .th1 {
    -webkit-transform: translate(58%, -5%);
        -ms-transform: translate(58%, -5%);
            transform: translate(58%, -5%);
  }
}
section .tconteiner .img6 {
  -webkit-transform: translate(15%, -5%);
      -ms-transform: translate(15%, -5%);
          transform: translate(15%, -5%);
  margin-top: 60px;
  border: 10px solid white;
}
@media (max-width: 412px) {
  section .tconteiner .img6 {
    -webkit-transform: translate(5%, -5%);
        -ms-transform: translate(5%, -5%);
            transform: translate(5%, -5%);
  }
}