@mixin mycontainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
@mixin myflex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin clasiccflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin myh1 {
    color: #454545;
    font-family: "Jost", sans-serif;
    font-size: 30px;
}
@mixin h1name {
    color: gray;
    background-color: white;
    text-align: center;
    max-width: 400px;
    width: 100%;
    border: 10px solid white ;
    
    margin-top: 10px;
}
