@mixin mycontainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
@mixin myflex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
@mixin clasiccflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}