
    .shcontainer {
        @include mycontainer;
        max-width: 1200px;
        width: 90%;
        margin-top: 30px;
        .staf {
            transform: translate(40%);
            @media (max-width:600px) {
                transform: translate(0%);
            }
            
        }
        .mwvrt {
            @include clasiccflex;
            flex-wrap: wrap;
                
            }
            margin-top: 50px;
            .card1 {
                max-width: 250px;
                width: 100%;
                margin-top: 20px;
                
                
                .mname {
                    color: gray;
                    background-color: white;
                    text-align: center;
                    max-width: 270px;
                    width: 100%;
                    border: 10px solid white ;
                    
                }
            }
            .card2 {
                max-width: 300px;
                width: 100%;
                
                .mname {
                    color: gray;
                    background-color: white;
                    text-align: center;
                    max-width: 300px;
                    width: 100%;
                    border: 10px solid white ;
                    
                }

        }
    }
    .keeper {
        transform: translate(40%);
        margin-top: 50px;
        @media (max-width:600px) {
            transform: translate(0%);
        }
    }
    .mekare {
        @include clasiccflex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        .card3 {
            max-width: 250px;
            width: 100%;

            
            .mename {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 300px;
                width: 100%;
                border: 10px solid white ;
                width: 100%;
                margin-top: 10px;
            }
        }
        .card3B {
            max-width: 350px;
            width: 100%;
            
            
            .menameb {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 400px;
                width: 100%;
                border: 10px solid white ;
                
                margin-top: 10px;
            }
        }
    }
    .defender {
        transform: translate(40%);
        margin-top: 50px;
        @media (max-width:600px) {
            transform: translate(0%);
        }

    }
    .defendnames {
        @include clasiccflex;
        flex-wrap: wrap;
        margin-top: 50px;
        .card4 {
            max-width: 250px;
            width: 100%;
            
            .anri {
                @include h1name;
            }
        }
    }
    .middefend {
         transform: translate(40%);
         margin-top: 50px;
         @media (max-width:600px) {
            transform: translate(0%);
        }
    }
    .middname {
        @include clasiccflex;
        flex-wrap: wrap;
        margin-top: 50px;
        .card5 {
            max-width: 250px;
            width: 100%;
            .anri {
                @include h1name;
            }
        }
    }
    .attack {
        transform: translate(40%);
        margin-top: 50px;
        @media (max-width:600px) {
            transform: translate(0%);
        }
    }
    .atackname {
        @include clasiccflex;
        flex-wrap: wrap;
        margin-top: 50px;
        .card5 {
            max-width: 250px;
            width: 100%;
            .anri {
                @include h1name;
            }
        }
    }
