body {
    background-color: whitesmoke;
}
.header1 {
    background-color: #f6623e;

    .mycontainer {
        @include mycontainer;
        height: 50px;
        @include myflex;
        
        h1 {
            font-family: "Jost", sans-serif;
            color: #454545;
        }
    }
}
.header2 {
    background-color: #ffffff;
    .mycontainer {
        @include mycontainer;
        border: 3px solid #ffffff;
        @include clasiccflex;
        ul {
            @include clasiccflex;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            gap: 60px;
            
            a {
                font-family: "Jost", sans-serif;
                color: #454545;
            }
        }
    }
}
.s-1 {
    height: 80px;
    .container {
        @include mycontainer;
        margin-top: 5px;

      
    }
  }

.s-2 {
    margin-top: 650px;
    h1 {
      
        text-align: center;
        color: #454545;
        font-family: "Jost", sans-serif;
        font-size: 30px;
        margin-bottom: 18px;
    }
    .mycontainer {
        @include mycontainer;

        max-width: 1380px;
        width: 100%;

        @include clasiccflex;
        align-items: flex-start;

        .card1 {
            max-width: 400px;
            width: 100%;
            height: 400px;
            background-color: #fff8f6;

            p {
                max-width: 300px;
                width: 100%;
                text-align: center;
                margin: 40px;
                color: #454545;
                font-family: "Jost", sans-serif;
                font-size: 20px;
            }
        }
        .card2 {
            max-width: 400px;
            width: 100%;
            height: 400px;
            background-color: #fff8f6;
            p {
                width: 370px;
                margin: 20px;
                color: #454545;
                font-family: "Jost", sans-serif;
                font-size: 20px;
            }
        }
    }
}
.s-3 {
    height: 80px;
    h1 {
        text-align: center;
        @include myh1;
        margin-top: 20px;
    }
    .mycontainer {
        @include mycontainer;
        margin-top: 25px;
        @include clasiccflex;
    }
}
footer {
    height: 80px;
    margin-top: 250px;
    .mycontainer {
        @include mycontainer;
        height: 500px;
        background-image: url("../images/foot.png");
        background-repeat: no-repeat;
        background-color: #fff8f6;
        @include clasiccflex;
        .lis1 {
         margin-left: 70px;
         h1 {
          @include myh1;
          color: #f6623e;
        }
        p {
          @include myh1;
          margin-top: 40px;
          font-size: 20px;
          width: 300px;
        }
    }
    lis2 {
      @include myh1;
      color
    }
    }
  }