
    .shcontainer {
        @include mycontainer;
        max-width: 1200px;
        width: 100%;
        border: 2px solid red;
        margin-top: 30px;
        .staf {
            transform: translate(35%);
        }
        .mwvrt {
            @include clasiccflex;
            margin-top: 50px;
            .card1 {
                max-width: 250px;
                width: 100%;
                
                .mname {
                    color: gray;
                    background-color: white;
                    text-align: center;
                    max-width: 270px;
                    width: 100%;
                    border: 10px solid white ;
                    
                }
            }
            .card2 {
                max-width: 300px;
                width: 100%;
                
                .mname {
                    color: gray;
                    background-color: white;
                    text-align: center;
                    max-width: 300px;
                    width: 100%;
                    border: 10px solid white ;
                    
                }

        }
    }
    .keeper {
        transform: translate(35%);
        margin-top: 50px
    }
    .mekare {
        @include clasiccflex;
        justify-content: space-around;
        
        margin-top: 50px;
        .card3 {
            max-width: 250px;
            width: 100%;
            
            .mename {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 300px;
                width: 100%;
                border: 10px solid white ;
                width: 100%;
                margin-top: 10px;
            }
        }
        .card3B {
            max-width: 350px;
            width: 100%;
            
            
            .menameb {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 400px;
                width: 100%;
                border: 10px solid white ;
                
                margin-top: 10px;
            }
        }
    }
    .defender {
        transform: translate(35%);
        margin-top: 60px
    }
    .defendnames {
        @include clasiccflex;
        margin-top: 50px;
        border: 2px solid red;
        .card4 {
            max-width: 250px;
            width: 100%;
            
            .anri {
                @include h1name;
            }
        }
    }
}