section {
    height: 80px;
    .shcontainer {
        @include mycontainer;
        max-width: 1200px;
        width: 100%;
        border: 2px solid red;
        margin-top: 30px;
        .staf {
            transform: translate(35%);
        }
        .suratebi{
            @include clasiccflex;
            margin-top: 30px;
            .stafi {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 270px;
                width: 100%;
                border: 10px solid white ;
            }
        }
        .mwvrtnelebi {
            @include clasiccflex;
        }
        .gvarebi {
            @include clasiccflex;
            .gv {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 270px;
                width: 100%;
                border: 10px solid white ;
            }
        }
        .mekareebi {
            transform: translate(35%);
            margin-top: 50px;
        }
        .suratebi2 {
            @include clasiccflex;
            justify-content: space-around;
            
        }
        .goalkipersnames {
            @include clasiccflex;
            justify-content: space-around;
            .names {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 270px;
                width: 100%;
                border: 10px solid white ;
                margin-top: 20px;
            }
        }
        .mcvelebi {
            transform: translate(35%);
            margin-top: 50px;
        }
        .defender1 {
            @include clasiccflex;   
        }
        .defname {
            @include clasiccflex;
            .dnm {
                
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 270px;
                width: 100%;
                border: 10px solid white ;
                margin-top: 20px;
            }
        }
        .defender2 {
            @include clasiccflex;

        }
        .defname2 {
            @include clasiccflex;
            .dnm2 {
                color: gray;
                background-color: white;
                text-align: center;
                max-width: 270px;
                width: 100%;
                border: 10px solid white ;
                margin-top: 20px;
            }
        }
        .naxmcvelebi {
            transform: translate(35%);
            margin-top: 50px;
        }
        .midfielder {
            @include clasiccflex;
        }
    }
}